In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns #importing the necessary libraries

## STEP 1: COLLECT DATA

In [2]:
#loading the monthly data(in csv format)
aug_21 = pd.read_csv("C:/Users/Dannie/Desktop/Aggregated Data/202108-divvy-tripdata.csv")
sep_21 = pd.read_csv("C:/Users/Dannie/Desktop/Aggregated Data/202109-divvy-tripdata.csv")
oct_21 = pd.read_csv("C:/Users/Dannie/Desktop/Aggregated Data/202110-divvy-tripdata.csv")
nov_21 = pd.read_csv("C:/Users/Dannie/Desktop/Aggregated Data/202111-divvy-tripdata.csv")
dec_21 = pd.read_csv("C:/Users/Dannie/Desktop/Aggregated Data/202112-divvy-tripdata.csv")
jan_22 = pd.read_csv("C:/Users/Dannie/Desktop/Aggregated Data/202201-divvy-tripdata.csv")
feb_22 = pd.read_csv("C:/Users/Dannie/Desktop/Aggregated Data/202202-divvy-tripdata.csv")
mar_22 = pd.read_csv("C:/Users/Dannie/Desktop/Aggregated Data/202203-divvy-tripdata.csv")
apr_22 = pd.read_csv("C:/Users/Dannie/Desktop/Aggregated Data/202204-divvy-tripdata.csv")
may_22 = pd.read_csv("C:/Users/Dannie/Desktop/Aggregated Data/202205-divvy-tripdata.csv")
jun_22 = pd.read_csv("C:/Users/Dannie/Desktop/Aggregated Data/202206-divvy-tripdata.csv")
jul_22 = pd.read_csv("C:/Users/Dannie/Desktop/Aggregated Data/202207-divvy-tripdata.csv")

## STEP 2: WRANGLE DATA AND COMBINE INTO A SINGLE FILE

In [3]:
#aggregating the imported monthly data
all_trips = pd.concat([aug_21, sep_21, oct_21, nov_21, dec_21, jan_22, feb_22, mar_22, apr_22, may_22, jun_22, jul_22])

### Inspect the dataframes and look for incongruencies

In [4]:
#viewing the first 5 rows of the aggregated data
all_trips.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,99103BB87CC6C1BB,electric_bike,2021-08-10 17:15:49,2021-08-10 17:22:44,NaN,NaN,NaN,NaN,41.77,-87.68,41.77,-87.68,member
1,EAFCCCFB0A3FC5A1,electric_bike,2021-08-10 17:23:14,2021-08-10 17:39:24,NaN,NaN,NaN,NaN,41.77,-87.68,41.77,-87.63,member
2,9EF4F46C57AD234D,electric_bike,2021-08-21 02:34:23,2021-08-21 02:50:36,NaN,NaN,NaN,NaN,41.95,-87.65,41.97,-87.66,member
3,5834D3208BFAF1DA,electric_bike,2021-08-21 06:52:55,2021-08-21 07:08:13,NaN,NaN,NaN,NaN,41.97,-87.67,41.95,-87.65,member
4,CD825CB87ED1D096,electric_bike,2021-08-19 11:55:29,2021-08-19 12:04:11,NaN,NaN,NaN,NaN,41.79,-87.60,41.77,-87.62,member

In [5]:
# inspecting the data: to view the different columns and datatypes
all_trips.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5901463 entries, 0 to 823487
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(4), object(9)
memory usage: 630.3+ MB

In [6]:
# To view column names
print(all_trips.columns)

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual'],
      dtype='object')

## STEP 3: CLEAN UP AND ADD DATA TO PREPARE FOR ANALYSIS

In [7]:
#checking for null values
all_trips.isnull().sum().sum()

3572542

In [8]:
# changing the datatype of "started_at" column and renaming it
all_trips['date'] = pd.to_datetime(all_trips['started_at'])

In [9]:
# Creating the month column
all_trips['month'] = pd.to_datetime(all_trips['date']).dt.to_period('m')

In [10]:
# Creating the year column
all_trips['year'] = pd.to_datetime(all_trips['date']).dt.to_period('y')

In [11]:
# Creating the day column
all_trips['day'] = pd.to_datetime(all_trips['date']).dt.to_period('d')

In [12]:
all_trips.rename({"day":"day_of_week"}, inplace=True, axis=1)

In [13]:
# changing the datatype to a more suitable one
all_trips['started_at'] = all_trips['started_at'].astype("datetime64[ns]")
all_trips['ended_at'] = all_trips['ended_at'].astype("datetime64[ns]")

In [14]:
# Creating a "ride_length" column to compute the ride duration
all_trips['ride_length'] = all_trips['ended_at'] - all_trips['started_at']

In [15]:
# Dropping the date column
all_trips.drop('date', axis=1)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,month,year,day_of_week,ride_length
0,99103BB87CC6C1BB,electric_bike,2021-08-10 17:15:49,2021-08-10 17:22:44,NaN,NaN,NaN,NaN,41.77,-87.68,41.77,-87.68,member,2021-08,2021,2021-08-10,0 days 00:06:55
1,EAFCCCFB0A3FC5A1,electric_bike,2021-08-10 17:23:14,2021-08-10 17:39:24,NaN,NaN,NaN,NaN,41.77,-87.68,41.77,-87.63,member,2021-08,2021,2021-08-10,0 days 00:16:10
2,9EF4F46C57AD234D,electric_bike,2021-08-21 02:34:23,2021-08-21 02:50:36,NaN,NaN,NaN,NaN,41.95,-87.65,41.97,-87.66,member,2021-08,2021,2021-08-21,0 days 00:16:13
3,5834D3208BFAF1DA,electric_bike,2021-08-21 06:52:55,2021-08-21 07:08:13,NaN,NaN,NaN,NaN,41.97,-87.67,41.95,-87.65,member,2021-08,2021,2021-08-21,0 days 00:15:18
4,CD825CB87ED1D096,electric_bike,2021-08-19 11:55:29,2021-08-19 12:04:11,NaN,NaN,NaN,NaN,41.79,-87.60,41.77,-87.62,member,2021-08,2021,2021-08-19,0 days 00:08:42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
823483,605787F70B3B9FD3,electric_bike,2022-07-09 08:32:15,2022-07-09 08:56:10,NaN,NaN,NaN,NaN,41.74,-87.68,41.75,-87.68,member,2022-07,2022,2022-07-09,0 days 00:23:55
823484,F0EECBEE637DF028,electric_bike,2022-07-17 13:27:57,2022-07-17 13:33:09,NaN,NaN,NaN,NaN,41.87,-87.66,41.87,-87.68,member,2022-07,2022,2022-07-17,0 days 00:05:12
823485,B8B091DC72DDAB9D,electric_bike,2022-07-17 14:51:37,2022-07-17 14:57:01,NaN,NaN,NaN,NaN,41.95,-87.64,41.95,-87.65,member,2022-07,2022,2022-07-17,0 days 00:05:24
823486,B4D3FFCC1F3AF5EC,electric_bike,2022-07-28 13:41:50,2022-07-28 13:47:17,NaN,NaN,NaN,NaN,41.88,-87.63,41.87,-87.63,member,2022-07,2022,2022-07-28,0 days 00:05:27
823487,AA9217C8DA3BAC0B,electric_bike,2022-07-29 13:05:20,2022-07-29 13:10:40,NaN,NaN,NaN,NaN,41.90,-87.66,41.90,-87.67,member,2022-07,2022,2022-07-29,0 days 00:05:20

In [16]:
# Converting timedelta to float
all_trips['ride_length'] = all_trips['ride_length']/np.timedelta64(1, 'D')

In [17]:
all_trips['ride_length'].dtype

dtype('float64')

In [19]:
np.count_nonzero(np.where(all_trips['ride_length'] < 0))

149

In [23]:
all_trips['ride_length'] = all_trips['ride_length'] >= 0

In [25]:
np.count_nonzero(np.where(all_trips['ride_length'] < 0))

0

In [26]:
all_trips.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,date,month,year,day_of_week,ride_length
0,99103BB87CC6C1BB,electric_bike,2021-08-10 17:15:49,2021-08-10 17:22:44,NaN,NaN,NaN,NaN,41.77,-87.68,41.77,-87.68,member,2021-08-10 17:15:49,2021-08,2021,2021-08-10,True
1,EAFCCCFB0A3FC5A1,electric_bike,2021-08-10 17:23:14,2021-08-10 17:39:24,NaN,NaN,NaN,NaN,41.77,-87.68,41.77,-87.63,member,2021-08-10 17:23:14,2021-08,2021,2021-08-10,True
2,9EF4F46C57AD234D,electric_bike,2021-08-21 02:34:23,2021-08-21 02:50:36,NaN,NaN,NaN,NaN,41.95,-87.65,41.97,-87.66,member,2021-08-21 02:34:23,2021-08,2021,2021-08-21,True
3,5834D3208BFAF1DA,electric_bike,2021-08-21 06:52:55,2021-08-21 07:08:13,NaN,NaN,NaN,NaN,41.97,-87.67,41.95,-87.65,member,2021-08-21 06:52:55,2021-08,2021,2021-08-21,True
4,CD825CB87ED1D096,electric_bike,2021-08-19 11:55:29,2021-08-19 12:04:11,NaN,NaN,NaN,NaN,41.79,-87.60,41.77,-87.62,member,2021-08-19 11:55:29,2021-08,2021,2021-08-19,True

In [27]:
all_trips.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5901463 entries, 0 to 823487
Data columns (total 18 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          datetime64[ns]
 3   ended_at            datetime64[ns]
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
 13  date                datetime64[ns]
 14  month               period[M]
 15  year                period[A-DEC]
 16  day_of_week         period[D]
 17  ride_length         bool
dtypes: bool(1), datetime64[ns](3), float64(4), object(7), period[A-DEC](1), period[D](1), period[M](1)
memory usage: 848.3+ MB

### Dropping columns with lots of null values

In [28]:
all_trips['start_station_name'].isnull().sum().sum()

860786

In [29]:
all_trips['start_station_id'].isnull().sum().sum()

860784

In [30]:
all_trips['end_station_name'].isnull().sum().sum()

919896

In [31]:
all_trips['end_station_id'].isnull().sum().sum()

919896

In [32]:
all_trips_v2 = all_trips.drop(['start_station_name', 'start_station_id', 'end_station_name', 'end_station_id'], axis=1)

## STEP 4: CONDUCT DESCRIPTIVE ANALYSIS

In [33]:
# Summary statistics of the data
all_trips_v2.describe()

          start_lat     start_lng       end_lat       end_lng
count  5.901463e+06  5.901463e+06  5.895873e+06  5.895873e+06
mean   4.190077e+01 -8.764742e+01  4.190102e+01 -8.764761e+01
std    4.725668e-02  3.093877e-02  4.734863e-02  3.056536e-02
min    4.164000e+01 -8.784000e+01  4.139000e+01 -8.897000e+01
25%    4.188103e+01 -8.766154e+01  4.188103e+01 -8.766241e+01
50%    4.189964e+01 -8.764335e+01  4.190000e+01 -8.764375e+01
75%    4.192957e+01 -8.762872e+01  4.192968e+01 -8.762911e+01
max    4.563503e+01 -7.379648e+01  4.237000e+01 -8.750000e+01

In [34]:
all_trips_v2.groupby("member_casual").day_of_week.max()

member_casual
casual    2022-07-31
member    2022-07-31
Name: day_of_week, dtype: period[D]

In [35]:
all_trips_v2.groupby("rideable_type").ride_length.count()

rideable_type
classic_bike     3055641
docked_bike       226728
electric_bike    2619094
Name: ride_length, dtype: int64

In [36]:
all_trips_v2.groupby("member_casual").ride_length.count()

member_casual
casual    2522226
member    3379237
Name: ride_length, dtype: int64

In [37]:
all_trips_v2.groupby("member_casual").ride_length.sum()

member_casual
casual    2522160
member    3379154
Name: ride_length, dtype: int64

In [38]:
pd.pivot_table(all_trips_v2, index='rideable_type', values='ride_length', aggfunc=sum)

               ride_length
rideable_type
classic_bike       3055566
docked_bike         226723
electric_bike      2619025

In [39]:
all_trips_v2.groupby(["member_casual", "rideable_type"]).ride_length.count()

member_casual  rideable_type
casual         classic_bike     1132892
               docked_bike       226728
               electric_bike    1162606
member         classic_bike     1922749
               electric_bike    1456488
Name: ride_length, dtype: int64

In [40]:
all_trips_v2.head()

,ride_id,rideable_type,started_at,ended_at,start_lat,start_lng,end_lat,end_lng,member_casual,date,month,year,day_of_week,ride_length
0,99103BB87CC6C1BB,electric_bike,2021-08-10 17:15:49,2021-08-10 17:22:44,41.77,-87.68,41.77,-87.68,member,2021-08-10 17:15:49,2021-08,2021,2021-08-10,True
1,EAFCCCFB0A3FC5A1,electric_bike,2021-08-10 17:23:14,2021-08-10 17:39:24,41.77,-87.68,41.77,-87.63,member,2021-08-10 17:23:14,2021-08,2021,2021-08-10,True
2,9EF4F46C57AD234D,electric_bike,2021-08-21 02:34:23,2021-08-21 02:50:36,41.95,-87.65,41.97,-87.66,member,2021-08-21 02:34:23,2021-08,2021,2021-08-21,True
3,5834D3208BFAF1DA,electric_bike,2021-08-21 06:52:55,2021-08-21 07:08:13,41.97,-87.67,41.95,-87.65,member,2021-08-21 06:52:55,2021-08,2021,2021-08-21,True
4,CD825CB87ED1D096,electric_bike,2021-08-19 11:55:29,2021-08-19 12:04:11,41.79,-87.60,41.77,-87.62,member,2021-08-19 11:55:29,2021-08,2021,2021-08-19,True

## STEP 5: EXPORT SUMMARY FILE FOR FURTHER ANALYSIS

In [41]:
all_trips_v2.to_csv("C:/Users/Dannie/Desktop/Bike_share_clean.csv")